@font-face {
  font-family: 'NanumBarunpenB';
  src: url('./fonts/NanumBarunpenB.ttf');
}
@font-face {
  font-family: 'NanumBarunpenR';
  src: url('./fonts/NanumBarunpenR.ttf');
}

body {
  margin: 0;
  font-family: 'NanumBarunpenR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc-event-title-container {
  font-size: 20px;
  text-align: center;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #faa;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #faa;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.fc-col-header-cell-cushion {
  color: #666;
}

.fc-daygrid-day-number {
  color: #666;
}

/* .fc-h-event .fc-event-title {
  color: #666;
} */
/* .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  background-color: #666;
  border-color: #666;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  background-color: #666;
  border-color: #666;
} */
.fc-button .fc-button-inner:hover {
  background-color: red;
  color: #fff;
}

.fc-button.fc-state-active .fc-button-inner {
  background-color: green;
  color: #fff;
}

.fc-button .fc-button-inner {
  background-color: #000;
  color: #fff;
}
